/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 44px;
    overflow-x: hidden;
}
.container{
    background-color: rgb(60, 60, 245);
    margin-top: 80px;
}
.top-banner{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
button{
    margin-bottom: 30px;
}
.container .top-banner img{
    width: 556px;
    height: 438px;
    transform: scale(1.3);
}
.container .top-banner button{
    border: none;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    color: #FFFFFF;
}
.container .top-banner button:hover{
    transform: rotateY(360deg);
    transition: 03s;
}
.container .top-banner img:hover{
    transform: scale(1.4);
    transition: 3s;
}
/* container-players */
.container-players, .container-players2, .container-players3{

    padding-top: 40px;
    padding-left: 0px;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: auto auto  auto;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color:white;
    
}

.players{
    background-color: #e6d9d96d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 2px 3px lightslategray;
}

h3{
    color: black;
    font-size: 28px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.blog{
    color: #5e5959;
    font-size: 14px;
    font-style: normal;
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
}

.players img{
    width: 300px;
    height: 256px;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: repeat(3, 1fr); */
    justify-self: center;
    align-items: center;

}
footer img{
    display: flex;
    width: 483px;
    height: 110px;
}

.social-icons{
    color: rgba(12, 1, 1, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.copyright{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 0px;
}
@media (max-width:600px)  {
    .container-players, .container-players2, .container-players3{
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        max-width: 100%;
        margin-top: 20px;
  
    }
    .top-banner{
        display:grid;
        width: 95%;
        text-align: center;
    }
    .top-banner h2{
        font-size: 0.5em;
    }
    .top-banner img{
        max-width: 320px;
        max-height: 250px;
        display: flex;
        margin-top: 20px;
    }
    .container .top-banner button{
        border: none;
        width: 95px;
        height: 20px;
        background: #E02C6D;
        color: #FFFFFF;
    }

    footer img{
        width: 275px;
        height: 60px;
    }

    .social-icons{
        display: flex;
        font-size: 25px;
    }

    
}
